runner:
  benchmark:
    tests:
      metadata:
        labels:
          name: perf-devnet-2-23861500-stateful
          chain: perf-devnet-2
          block: "23861500"
          test-type: stateful
      source:
        git:
          repo: https://github.com/nethermindeth/gas-benchmarks.git
          version: e5011aa5f75d7a1722481f25408347fadfb7fd3c
          pre_run_steps:
            - repricings_stateful/perf-devnet-2/funding.txt
          steps:
            setup:
              - repricings_stateful/perf-devnet-2/setup/*
            test:
              - repricings_stateful/perf-devnet-2/testing/*
            cleanup:
              - repricings_stateful/perf-devnet-2/cleanup/*

  # Use podman + checkpoint/restore via CRIU
  container_runtime: podman
  client:
    config:
      rollback_strategy: container-checkpoint-restore
      checkpoint_restore_strategy_options:
        tmpfs_threshold: "10g"
        tmpfs_max_size: "15g"
        wait_after_tcp_drop_connections: 10s
        restart_container: true
