name: benchmarkoor

on:
  workflow_dispatch:
    inputs:
      clients:
        description: "JSON array of execution clients to benchmark"
        required: false
        default: '["besu", "erigon", "geth", "nethermind", "reth"]'
      snapshot:
        description: "Snapshot path (network/block)"
        required: false
        type: choice
        options:
          - "mainnet/24350000"
          - "perf-devnet-2/24350000"
      test-type:
        description: "Test type to run"
        required: false
        type: choice
        options:
          - "stateful"
          - "compute"
        default: "stateful"
      run-timeout-minutes:
        description: "Timeout for the benchmark run (minutes)"
        required: false
        default: "210"
      image:
        description: "Benchmarkoor docker image"
        required: false
        default: "ghcr.io/ethpandaops/benchmarkoor:master"
      git-ref:
        description: "Git reference to checkout for benchmarkoor"
        required: false
        default: ""
      upload-artifacts:
        description: "Upload run results as GitHub artifacts"
        required: false
        type: choice
        options:
          - "false"
          - "true"

jobs:
  benchmarkoor:
    strategy:
      fail-fast: false
      matrix:
        client: ${{ fromJSON(inputs.clients) }}
    runs-on:
      group: gasbenchmark
      labels: snapshot-${{ matrix.client }}
    timeout-minutes: ${{ fromJSON(inputs.run-timeout-minutes) }}
    steps:
      - name: "Infos: Client=${{ matrix.client }} | Snapshot=${{ inputs.snapshot }} | TestType=${{ inputs.test-type }}"
        run: |
          echo "client: ${{ matrix.client }}"
          echo "snapshot: ${{ inputs.snapshot }}"
          echo "test-type: ${{ inputs.test-type }}"
          echo "run-timeout-minutes: ${{ inputs.run-timeout-minutes }}"
          echo "image: ${{ inputs.image }}"
          echo "git-ref: ${{ inputs.git-ref }}"
          echo "upload-artifacts: ${{ inputs.upload-artifacts }}"

      - uses: actions/checkout@v4

      - uses: ethpandaops/benchmarkoor@fix-action-datadirs
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          image: ${{ inputs.image }}
          git-ref: ${{ inputs.git-ref }}
          upload-artifacts: ${{ inputs.upload-artifacts }}
          run-config-urls: >-
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/global.yaml,
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/resource-limits-eip-7870-fullnode.yaml,
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/repricings/${{ inputs.snapshot }}/datadir-snapshots.yaml,
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/repricings/${{ inputs.snapshot }}/test-source.${{ inputs.test-type }}.yaml,
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/repricings/${{ inputs.snapshot }}/clients.yaml
          run-args: --limit-instance-client=${{ matrix.client }}
