name: benchmarkoor-trigger
on:
  workflow_dispatch:
    inputs:
      client:
        description: "Ethereum execution client to benchmark"
        required: false
        default: "geth"
      snapshot:
        description: "Snapshot path (network/block)"
        required: false
        options:
          - "mainnet/24350000"
          - "perf-devnet-2/24350000"
      test-type:
        description: "Test type to run"
        required: false
        type: choice
        options:
          - "stateful"
          - "compute"
        default: "stateful"

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: >-
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'benchmarkoor.yaml',
              ref: 'master',
              inputs: {
                'run-args': '--limit-instance-client=${{ inputs.client }}',
                'runs-on': '{"group": "gasbenchmark", "labels": "snapshot-${{ inputs.client }}"}',
                'run-timeout-minutes': '210',
                'run-config-urls': `
                  https://github.com/ethpandaops/benchmarkoor-tests/raw/refs/heads/master/configs/global.yaml,
                  https://github.com/ethpandaops/benchmarkoor-tests/raw/refs/heads/master/configs/resource-limits-eip-7870-fullnode.yaml,
                  https://github.com/ethpandaops/benchmarkoor-tests/raw/refs/heads/master/configs/repricings/${{ inputs.snapshot }}/datadir-snapshots.yaml,
                  https://github.com/ethpandaops/benchmarkoor-tests/raw/refs/heads/master/configs/repricings/${{ inputs.snapshot }}/test-source-${{ inputs.test-type }}.yaml,
                  https://github.com/ethpandaops/benchmarkoor-tests/raw/refs/heads/master/configs/repricings/${{ inputs.snapshot }}/clients.yaml
                `
              }
            });
