name: generate-index

on:
  schedule:
    - cron: "55 */3 * * *"
  workflow_dispatch:
    inputs:
      run-timeout-minutes:
        description: "Timeout for the benchmark run (minutes)"
        required: false
        default: "210"
      image:
        description: "Benchmarkoor docker image"
        required: false
        default: "ghcr.io/ethpandaops/benchmarkoor:master"
      git-ref:
        description: "Git reference to checkout for benchmarkoor"
        required: false
        default: ""

jobs:
  index:
    runs-on: ubuntu-latest
    timeout-minutes: ${{ fromJSON(inputs.run-timeout-minutes || '210') }}
    steps:
      - uses: ethpandaops/benchmarkoor@master
        env:
          S3_ENDPOINT_URL: ${{ secrets.S3_ENDPOINT_URL }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
        with:
          docker-env: |
            S3_ENDPOINT_URL
            AWS_ACCESS_KEY_ID
            AWS_SECRET_ACCESS_KEY
          github-token: ${{ secrets.GITHUB_TOKEN }}
          image: ${{ inputs.image || 'ghcr.io/ethpandaops/benchmarkoor:master' }}
          git-ref: ${{ inputs.git-ref || '' }}
          upload-artifacts: ${{ inputs.upload-artifacts || 'false' }}
          run-config-urls: >-
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/global.yaml,
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/s3-indexing.yaml,
            https://raw.githubusercontent.com/ethpandaops/benchmarkoor-tests/master/configs/repricings/s3-upload.yaml
